<footer class="absolute inset-x-0 bottom-0 w-screen flex flex-row justify-between items-center bg-primary text-white text-xs py-8 px-16">
	<img src="{{ asset('images/logo_footer.png')}}" alt="logo footer" class="block w-30">
	<div class="text-center ml-24">
		<p class="mb-2 ">Marèva & Aymeric</p>
		<p>
			<a href="#">CGU</a>
		</p>
	</div>
	<div class="text-center">
		<p class="mb-2">Copyright - 2023</p>
		<p>Lucille Malozon & Amélie Pointeau</p>
	</div>
</footer>
