{% extends 'base.html.twig' %}

{% block title %}Accueil - Mariage de Marèva et Aymeric
{% endblock %}

{% block body %}

	<div class="relative h-screen bg-primary">
		<div class="flex flex-col">
			<img src="{{ asset('images/logo_blanc-transparent.png')}}" alt="logo" class="h-48 w-48 mx-auto mt-32 mb-12">
			<div class="text-white w-1/3 mx-auto text-center">
				<p class="text-3xl font-bold mb-4">Bonjour,</p>
				<p class="mb-8">Afin de pouvoir consulter le site, merci de renseigner le mot de passe communiqué sur votre faire-part.</p>
				<input type="password" class="bg-white text-black w-50 p-2 mb-8 rounded-lg text-center outline-none" placeholder="Mot de passe">
				<img src="{{ asset('images/deco.png')}}" alt="logo" class="mx-auto">
			</div>
		</div>
		{% include "./_includes/footer-connexion.html.twig" %}
	</div>

	

{% endblock %}
