{% extends 'base.html.twig' %}

{% block title %}Accueil - Mariage de Marèva et Aymeric{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <img class="block mx-auto" src="{{ asset('images/favicon.png') }}" alt="">
    <h3 class="font-bold text-3xl">Bienvenue</h3>
</div>
{% endblock %}
